@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  line-height: 1.6;
  color: #fff;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #2e2d2dd5;
}

#page-header {
  height: 70px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

button {
  background: rgba(249, 115, 22, 0.9);
  padding: 15px;
  min-width: 80px;
  max-width: 150px;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  order: 3;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}

button:focus {
  background: rgba(249, 116, 22, 0.693);
  transition: all 300ms ease-in;
}

button:hover {
  opacity: 0.92;
  transform: scale(0.98);
}

footer a {
  text-decoration: none;
  font-size: 18px;
  color: #ebebff;
}

footer a:hover {
  color: #adadb3;
  transition: color 200ms ease-in-out;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #2b2b2c;
  top: 0;
  left: -110%;
  z-index: 100;
  transition: 500ms ease-in;
}

.mobile-menu ul {
  width: 85%;
  margin: 0 auto;
  margin-top: 100px;
}

.mobile-menu ul li {
  position: relative;
  list-style: none;
  margin: 35px auto;
  z-index: 999;
  padding-bottom: 8px;
  border-bottom: 1px solid #b3b0b0;
}

.modal-btn button a {
  text-decoration: none;
  color: #fff;
}

.mobile-menu ul li a {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #ebebff;
  text-decoration: none;
  padding: 5px;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.mobile-menu ul li a::after {
  content: url(./img/side-arrow.png);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  cursor: pointer;
}

.mobile-menu ul li a:hover {
  border-bottom: 1px solid #a5a5aa;
  color: #b3bac5;
}

.close {
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 3;
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
}

.close:hover {
  transform: scale(0.97);
}


.hamburger:hover {
  transform: rotate(360deg);
  transition: transform 800ms ease-in-out;
}

#page_logo {
  width: 25%;
}

#page_logo a img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Headline */

.container1 {
  height: 100vh;
  background-image: linear-gradient(
    rgba(46, 43, 43, 0.7),
    rgba(28, 27, 27, 0.5)
    ),
    url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 70px;
  position: relative;
}

#portfolio-intro {
  margin-bottom: 15px;
}

h1 {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.orange,
#works h2,
.contact-head h4 {
  color: rgba(249, 115, 22, 0.9);
}

#about {
  width: 90%;
  margin: 0 auto;
}

#about h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-bottom: 45px;
  color: #dcdcdc;
  padding: 0;
  overflow: hidden;
}

.program-img {
  display: none;
}

.work-card aside h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  display: flex;
  align-items: center;
}

#portfolio-intro h2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: rgba(249, 115, 22, 0.9);
  font-style: italic;
}

.sub-list {
  margin-top: 20px;
}

/* Social Media Icons */
#media {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.work {
  position: relative;
  text-decoration: none;
  top: 0;
  animation: bounce 1s ease-in-out infinite forwards;
}

.work-1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #fff;
}

.first {
  display: none;
}

.first::after {
  content: url(./img/arrow.png);
  position: absolute;
  top: 2px;
  left: 50px;
  z-index: 999;
  height: 10px;
}

.second::before {
  content: url(./img/arrow.png);
  position: absolute;
  top: 2px;
  right: 50px;
  z-index: 999;
  height: 10px;
}

/* Works Section */

.works-section {
  width: 100%;
  color: #333;
  padding-bottom: 50px;
}

#works {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

#works h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

.all-cards {
  display: grid;
  grid-gap: 80px;
  width: 100%;
  margin: 50px 0;
  padding: 0;
}

.work-card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  gap: 25px;
  list-style: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0 10px 4px 0,
              rgba(14, 30, 37, 0.32) 0 10px 16px 0;
}

.card {
  width: 100%;
  height: 250px;
  flex: none;
  flex-grow: 0;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.card img {
  width: 100%;
  height: 100%;
}

.work-card aside {
  width: 100%;
}

.work-card .aside-1 {
  justify-content: flex-end;
}

.contact-head p,
.work-card aside p,
.stack-used ul li,
textarea {
  font-family: Inter, sans-serif;
}

.contact-head p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.work-card aside p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  flex: none;
  text-align: justify;
  margin: 24px 0;
}

.stack-used {
  order: 2;
}

.stack-used ul {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.stack-used ul li {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
  padding-right: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.stack {
  border-right: 1px solid #646369;
}

.stack-used-1 ul li {
  margin-right: 10px;
  padding-right: 5px;
}

#page-nav ul {
  display: none;
}

/* Contact Us Section */

#contact {
  width: 90%;
  margin: 25% auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.contact-head h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 20px;
}

form {
  background-color: rgba(249, 115, 22, 0.9);
  padding: 15px 20px;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: auto;
}

input,
textarea {
  padding: 15px;
  outline: none;
  border: 0;
  border-radius: 5px;
  margin-bottom: 30px;
  caret-color: #b4b3c4;
  font-size: 18px;
  width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  font-style: italic;
}

.form-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  height: 250px;
}

input:hover,
textarea:hover {
  transform: scale(1.02);
  transition: transform 300ms;
}

input:focus,
textarea:focus {
  border: 3px solid #545250;
}

.error {
  margin: 5px 0 20px 0;
  color: #fff;
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
  letter-spacing: 2px;
  display: none;
}

#form-button {
  background-color: rgba(24, 24, 27, 0.9);
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid #4d4c4f;
  background-color: #2b2b2c;
}

.mail {
  font-size: 15px;
}

.go-up {
  border: 1px solid #f97316e6;
  border-radius: 50%;
  padding: 5px 10px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  transition: 300ms;
  display: none;
}

.go-up i {
  color: rgba(249, 115, 22, 0.9);
}

.stack-used-1,
.modal-btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.modal-btn button {
  margin-right: 10px;
  padding: 10px;
}

.nav-colored {
  background-color: #2b2b2c;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 200ms ease-in-out;
}

/* Media Queries */

@media all and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  #page-nav ul {
    display: block;
    margin: 0;
    padding: 0;
  }

  #page-nav ul li {
    display: inline-block;
    margin: 0 15px;
    list-style: none;
  }

  #page-nav ul li:last-child {
    padding-top: -10%;
  }

  #page-nav ul li a {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  #page-nav ul li a:hover {
    color: #b3bac5;
    border-bottom: 1px solid #959597;
  }

  #page-nav ul li a img {
    position: relative;
    top: 2px;
  }

  #page_logo a img {
    width: 30%;
    height: 30%;
  }

  .container1 {
    height: calc(100vh - 70px);
  }

  h1 {
    font-size: 60px;
    line-height: 100px;
  }

  #portfolio-intro h2 {
    font-size: 33px;
    margin-bottom: 40px;
  }

  #about h2 {
    width: 70%;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .media-section {
    width: 100%;
  }

  #media {
    flex-direction: row;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
  }

  .first {
    display: block;
  }

  #works h2,
  .contact-head h4 {
    font-size: 55px;
  }

  #works h2 {
    margin-top: 110px;
    margin-bottom: 30px;
  }

  .work-card {
    padding: 20px;
    gap: 5%;
    flex-direction: row;
  }

  .card {
    width: 45%;
    height: 410px;
  }

  .work-card aside {
    width: 100%;
    overflow: hidden;
  }

  .card-1 {
    order: 1;
  }

  .ellipse-2,
  .ellipse-4 {
    width: 200px;
    left: 80%;
  }

  #contact {
    margin: 9% auto;
  }

  .contact-head p {
    width: 60%;
    margin: 0 auto;
  }

  form {
    width: 50%;
  }

  footer {
    flex-direction: row;
    gap: 25px;
  }

  .mobile-menu {
    visibility: hidden;
  }

  .mail {
    font-size: 18px;
  }

  .go-up {
    right: 40px;
  }
}

@media all and (min-width: 1200px) {
  .container1 {
    flex-direction: row;
  }

  #portfolio-intro {
    width: 90%;
    margin: 0 auto;
  }

  .headline {
    width: 50%;
    margin: 0 auto;
  }

  h1,
  #about h2,
  #portfolio-intro h2 {
    text-align: initial;
  }

  h1 {
    line-height: 30px;
    margin: 30px auto;
  }

  #about h2 {
    width: 80%;
    margin: 0;
    margin-bottom: 40px;
    font-family: cursive;
  }

  #portfolio-intro h2 {
    font-size: 28px;
    margin-bottom: 35px;
  }

  .program-img {
    display: block;
    width: 40%;
    overflow-x: hidden;
  }

  .program-img img {
    width: 80%;
  }
}

@keyframes zoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes bounce {
  0% {top: 0;}
  50% {top: -10px}
  100% {top: 0;}
}
